extends: default.liquid

title: xd009642
route: about
path: about/
---

<h1>About me</h1>

<p>
My real name is Daniel and I'm a software engineer with interests in C++, Rust, machine intelligence, python as well as much more. The pseudonym xd009642 was the username allocated to me at university and I tend to use it online as it's always guaranteed to be available unlike past usernames.
</p>
<p>
Currently my main project of interest is <a href="https://github.com/xd009642/tarpaulin">Tarpaulin</a>, a code coverage tool designed for the the rust ecosystem. It's not yet ready for general use but it's getting significantly closer every week :).
</p>
