extends: default.liquid
---
<div >
    <h2>xd009642</h2>
    Software engineer and rust enthusiast.
  <!--<br />-->
  <div>
    {% for post in posts %}
      <div>
        <h4><a href="{{post.path}}">{{ post.title }}</a></h4>
      </div>
    {% endfor %}
  </div>
</div>
