<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if is_post %}
          <title>{{ title }}</title>
        {% else %}
       	  <title>Daniel McKenna's Blog</title>
        {% endif %}
    </head>
    <body data-route={{route}}>
        {{ include "_layours/menu.liquid" }}
        <main>
            <div>
              {% if is_post %}
                {% include '_layouts/post.liquid' %}
              {% else %}
                {{ content }}
              {% endif %}
            </div>
        </main>
  </body>
</html>
