<nav class="menu">
    <a class="menu-item {%if route == "about"%}current{%endif%}" href="about/index.html">About</a>
    <a class="menu-item {%if route == "blog"%}current{%endif}" href="index.html">Blog</a>
</nav>
